.SpectreTile {
	height: 2vh;
	width: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.LittleTile {
	height: 0.8vh;
	width: 0.8vh;
}

.Empty {
	background-color: #282232;
}

.Full {
	background-color: #F7DC6F;
}

@media (max-width: 599px) {
	.SpectreTile {
		width: 8px;
	}

	.LittleTile {
		height: 4px;
		width: 4px;
	}
}

@media (min-width: 600px) and (max-width: 1080px) {
	.SpectreTile {
		width: 14px;
	}

	.LittleTile {
		height: 6px;
		width: 6px;
	}
}
