.SpectreTile {
    height: 1.8vh;
	width: 1.8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-collapse: collapse;
	border-radius: 3px;
	margin: 1px;
}

.LittleTile {
	height: 0.8vh;
	width: 0.8vh;
}

.Empty {
	/* opacity: 0; */
	background-color: #383242;
}

.Full {
	background-color: #F7DC6F;
}