.SpectreTile {
    height: 2.66vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.LittleTile {
	height: 0.8vh;
	width: 0.8vh;
}

.Empty {
	opacity: 0;
	background-color: #282232;
}

.Full {
	background-color: #F7DC6F;
}