.NextPiece {
	border: 1px solid black;
	border-radius:6px;
	background-color: #282232;
	height: 16vh;
	padding: auto;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	flex-grow: 1;
}

.Array {
	display: flex;
	flex-direction: column;
}
