.CreateNewRoom {
	text-align: center;
}

.labelMaxPlayer {
	padding-top: 10px;
	min-width: 300px;
}

.dialogTitle {
	text-align: center
}

div .createRoomButtonContainer {
	justify-content: center;
}
