.Tetris {
	margin-top: 20px;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-evenly;
	border-radius: 6px;
	background-color: #FCFCFC;
}

.Tetris:focus {
	outline: none;
}

.Hud {
	display: flex;
	justify-content: center;
	flex-direction: column;
}