.Opponent {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.SpectreBoardRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #282232;
}

.OpponentInfos {
	display: flex;
	text-overflow: ellipsis;
	justify-content: center;
	/* padding: 5px 0px 3px 0px; */
	/* margin: 0; */
	color: #F7DC6F;
	font-weight: bolder
}

.Spectre {
	display: flex;
	flex-direction: column;
}

.GameOver .Spectre {
	background-color: #FF0000;
}

.GameOver .Name {
	text-decoration: line-through;
	font-weight: bold;
}

.OpponentLittle {
	/* margin: 6px; */
}

.Wrap {
	flex-grow: 1;
}

.Wrapper {
	/* border-radius: 6px; */
	
	width: 100%;
	display: flex;
	flex-direction: column;
}
