
.SpectreBoardRow {
	display: flex;
	flex-direction: row;
	flex: 0;
}

.Opponent {
	margin: 20px;
}

.Name {
	display: flex;
	color: #282232;
	text-overflow: ellipsis;
}

.Spectre {
	padding: 6px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 6px;
	background-color: #282232;
	flex: 0;
}

.GameOver .Spectre {
	background-color: #FF0000;
}

.GameOver .Name {
	text-decoration: line-through;
	font-weight: bold;
}

.OpponentLittle {
	margin: 6px;
}

@media (max-width: 599px) {
	.Name {
		width: 80px;
	}
}

@media (min-width: 600px) and (max-width: 1080px) {
	.Name {
		width: 140px;
	}
}
