.Tile {
	border: 1px solid black;
	height: 42px;
	width: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../../../../images/tile2.png');
	background-size: 100% 100%;
	border-radius: 3px;
	margin-left: 1px;
	margin-bottom: 1px;
}

.Empty {
	opacity: 0;
}

.I {
	background-color: aqua;
}
.O {
	background-color: yellow;
}
.T {
	background-color: blueviolet;
}
.J {
	background-color: blue;
}
.L {
	background-color: orange;
}
.S {
	background-color: lime;
}
.Z {
	background-color: red;
}
