.Layout {

}

.Content {
	margin: auto;
	width: 80%;
}

@media (min-width: 1200px) {
	.Content {
		width: 1080px;
	}
}



/*
**	TABLE
*/

:global(table.MuiTable-root) {
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px 0 rgba(63, 81, 181, 0.1);
}

:global(th.MuiTableCell-head) {
	font-weight: 600;
}

:global(td.MuiTableCell-root), :global(th.MuiTableCell-root) {
	padding: 18px 24px;
}

:global(.MuiTableRow-root):last-child > :global(.MuiTableCell-root) {
  border-bottom: transparent;
}

