.Row {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.Board {
	border: 1px solid black;
	border-radius: 6px;
	background-color: #282232;
	padding: 4px 4px 3px 3px;
}

.Wrap {
	flex: 1;
}

.BordWrapper {
	margin-right: 5px;
}